.Main {
 text-align:center;
 font-family:Arial;
}
.Boxed {
 background:rgb(255,255,255);
 background-opacity: 0.5;
 font-family:Verdana;
 border: 2px solid rgb(255,255,255);
 border-opacity: 0.5;
 border-radius: 5px;
}
body {
background-image:url("https://cdn.discordapp.com/attachments/841834447032680448/846531766973759518/5fc959b1-95d5-47ac-b6cd-bae312cb5321.png");
background-size:100%;
background-repeat:no-repeat;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
